<!DOCTYPE html>
<html>
    <head>
        <title>Update Books</title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
    <div class="header">
        <h1>Book Management System</h1>
    </div>

    <div class="navbar">
        <a href="/addbooks">Add Books</a>
        <a href="/deletebytopic">Delete by Topic</a>
        <a href="/deletebydate">Delete by Date</a>
        <a href="/updatebooks">Update Books</a>
        <a href="/listbooks">List Books</a>
    </div>

    <div class="content">
        <h2>Update Books by Title</h2>
        <form action="/postupdate" method="POST">
            Old Title: </br>
            <input type="text" name="oldtitle" /> </br>
            </br>
            New Title: </br>
            <input type="text" name="newtitle" /> </br>
            </br>
            New Author: </br>
            <input type="text" name="author" /> </br>
            </br>
            New Topic: </br>
            <input type="topic" name="topic" /> </br>
            </br>
            New Publication date: </br>
            <input type="date" name="publicationdate" /> </br>
            </br>
            New Summary: </br>
            <input type="text" name="summary" /> </br>
            </br>
            <button type="submit">Submit</button>
        </form>
    </div>
    </body>
</html>