<!DOCTYPE html>
<html>
    <head>
        <title>Delete Patient</title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <div class="header">
            <img src="logo.jpeg" width="760" height="280">
        </div>
    
        <div class="navbar">
            <a href="/adddoctor">Add Doctor</a>
            <a href="/listdoctors">List Doctors</a>
            <a href="/addpatient">Add Patient</a>
            <a href="/listpatients">List Patients</a>
            <a href="/deletepatient">Delete Patient</a>
            <a href="/updatedoctor">Update Doctor</a>
        </div>
        
        <div class="content">
            <h2>Delete Patient</h2>
            <form action="/patientdeleted" method="POST">
                Patient Full Name: </br>
                <input type="text" name="fullName" /> </br>
                </br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>