<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <div class="header">
            <img src="logo.jpeg" width="760" height="280">
        </div>
    
        <div class="navbar">
            <a href="/adddoctor">Add Doctor</a>
            <a href="/listdoctors">List Doctors</a>
            <a href="/addpatient">Add Patient</a>
            <a href="/listpatients">List Patients</a>
            <a href="/deletepatient">Delete Patient</a>
            <a href="/updatedoctor">Update Doctor</a>
        </div>

        <div class="content">
            <h2>Invalid Data</h2>
            <p>Invalid data has been entered into the form. Please try again.</p>
        </div>
    </body>
</html>