<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        </br>
        <a href="/">HOME</a>
        <a href="/addbooks">&nbsp &nbsp ADD BOOKS</a>
        <a href="/listbooks">&nbsp &nbsp LIST BOOKS</a>
        <a href="/listtitles">&nbsp &nbsp LIST TITLES</a> </br>
        </br>
        <img src="logo.jpeg" width="400" height="160"> </br>
        <h1>INVALID DATA</h1>
    </head>

    <body>

        <p>You have entered invalid data into the form. Please try again.</p>

    </body>
</html>