<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        </br>
        <a href="/">HOME</a>
        <a href="/addbooks">&nbsp &nbsp ADD BOOKS</a>
        <a href="/listbooks">&nbsp &nbsp LIST BOOKS</a>
        <a href="/listtitles">&nbsp &nbsp LIST TITLES</a> </br>
        </br>
        <img src="logo.jpeg" width="400" height="160"> </br>
    </head>

    <body>

        <img src="404.png" width="520" height="200">
        <h3>Oops! Page Not Found.</h3>

    </body>
</html>